
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
  $(function() {
  $( ".accordion" ).accordion();
  $(".accordion").accordion({ header: "li", collapsible: true, active: false, heightStyle: "content" });
  });
</script>

<style>
  div.toTop {width: 100%; vertical-align: middle; text-align: right; margin-top: -20px; margin-bottom: 0px; font-size: 10pt;}
</style>


